build/
install/
log/

NXP_CUP_INDIA_2026/

src/*
!src/b3rb_ros_line_follower/
!src/dream_world/

src/dream_world/*
!src/dream_world/dream_world/
src/dream_world/dream_world/*
!src/dream_world/dream_world/worlds/

__pycache__/
*.pyc
*.pyo
.pytest_cache/

.vscode/

*.bag
*.mcap